/* Indent & Justify classes */

.rteindent1 {
	margin-left: 40px;
}
.rteindent2 {
	margin-left: 80px;
}
.rteindent3 {
	margin-left: 120px;
}
.rteindent4 {
	margin-left: 160px;
}
.rteleft {
	text-align: left;
}
.rteright {
	text-align: right;
}
.rtecenter {
	text-align: center;
}
.rtejustify {
	text-align: justify;
}
.ibimage_left {
	float: left;
}
.ibimage_right {
	float: right;
}

/* CKEditor padding in IE */
table.cke_editor fieldset {
	padding:0 !important;
}
/* hack with ie and garland editing area size fix - [#733512] */
.cke_editor{
	display: table !important;
}
.cke_editor,#ie#bug {
	display: inline-table !important;
}

.cke_panel_listItem {
		background-image: none;
		padding-left: 0;
}
/* remove top border from tbody - overwrite system.css - [#751672] */
tbody {
		border: 0;
}

/*toolbar wizzard*/
#edit-toolbar {
		display: none;
}
#edit-toolbar + .grippie {
		display: none;
}
div.sortableList {
		cursor: n-resize;
}
div.widthMarker {
		height: 20px;
		border-top: 1px dashed #CCC;
		margin: 10px 0px 0px 1px;
		padding-left: 1px;
		text-align: center;
}
div.sortableList.group {
		margin: 20px 0px 0px 0px;
}
div.sortableList div.sortableListDiv {
		height: 30px;
		margin-bottom: 3px;
		width: 900px;
}
div.sortableList div.sortableListDiv span.sortableListSpan {
		background-color: #F0F0EE;
		height: 30px;
		border-right: 1px dashed #CCC;
		display: block;
}
div.sortableList div.sortableListDiv span.sortableListSpan ul {
		background: none;
		width: 900px;
		white-space: nowrap;
		border: 1px solid #CCC;
		list-style: none;
		margin:0px;
		padding: 0px 0px 0px 1px;
		height: 30px;
}
div.sortableList div.sortableListDiv span.sortableListSpan ul li {
		background: none;
		list-style: none;
		cursor: move;
		height: 18px;
		min-width: 18px;
		padding: 2px;
}
div.sortableList div.sortableListDiv span.sortableListSpan ul li.group {
		min-width: 5px;
		padding-left: 2px;
}
div.sortableList div.sortableListDiv span.sortableListSpan ul li img {
		border: 0;
		padding: 0;
		margin: 0
}
li.sortableItem {
		position: relative;
		float: left;
		margin: 3px 1px 1px 0px;
		border: 1px solid #CCC;
		background-color: #F0F0EE;
		disc-type: none;
		z-index: 99;
}

/* Fix for fieldset for-edit-apperance in Firefox*/
fieldset#edit-appearance div#groupLayout, div#allButtons  {
	border: 0;
	padding: 0 0 0 0;
	margin: 1em 0;
	overflow: auto;
}
/* strife spoiler coloring */
.strife_spoiler_block {
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
	padding: 4px;
}
/* aa spoiler coloring */
.aa_spoiler_block.hariharan {background-color: #e6ead7; padding: 4px;}
.aa_spoiler_block.elves {background-color: #cac9dd; padding: 4px;}
.aa_spoiler_block.nuians {background-color: #b0e5e5; padding: 4px;}
.aa_spoiler_block.ferre {background-color: #e3c5ca; padding: 4px;}

/* aa text_mark coloring */
.text_mark.red {background-color: #dea3bb; padding: 4px; border-left: 4px solid #964160;}
.text_mark.blue {background-color: #9ecde8; padding: 4px; border-left: 4px solid #5a86b5}
.text_mark.green {background-color: #c2d4af; padding: 4px; border-left: 4px solid #88a46a}

/*wf text_mark coloring*/
.block_thesis_gray {
	padding: 20px 25px;
	font-family: plumbcondensedregular;
	text-transform: uppercase;
	font-size: 27px;
	line-height: 30px;
	background: #333;
	color: #c1c1c1;
}
.block_thesis_orange {
	padding: 20px 25px;
	font-family: plumbcondensedregular;
	text-transform: uppercase;
	font-size: 27px;
	line-height: 30px;
	color: #fff;
	background: #ff4e00;
}

.block_quote {
	background: #333;
	padding: 20px 25px;
}
.block_thesis_gray_text {
	padding: 20px 25px;
	font-family: plumbcondensedregular;
	text-transform: uppercase;
	font-size: 27px;
	line-height: 30px;
	background: #333;
	color: #c1c1c1;
	margin-bottom: 16px;
}
.block_thesis_orange_text {
	padding: 20px 25px;
	font-family: plumbcondensedregular;
	text-transform: uppercase;
	font-size: 27px;
	line-height: 30px;
	color: #fff;
	background: #ff4e00;
	margin-bottom: 16px;
}

.block_quote_text {
	margin-bottom: 16px;
	background: #333;
	padding: 20px 25px;
}
.block_quote__inner {
	position: relative;
	color: #c6c6c6;
}
.block_quote__inner::before {
	content: '';
	display: block;
	position: absolute;
	left: -18px;
	background-image: url("https://wf.cdn.gmru.net/static/wf.mail.ru/img/main/page/icons-sprite.png");
	background-position: -484px -223px;
	width: 11px;
	height: 13px;
}
.block_quote__inner::after {
	content: '';
	display: inline-block;
	margin-left: 8px;
	margin-top: 2px;
	position: absolute;
	background-image: url("https://wf.cdn.gmru.net/static/wf.mail.ru/img/main/page/icons-sprite.png");
	background-position: -505px -223px;
	width: 11px;
	height: 13px;
}

.color_block p,
.color_block ul,
.color_block ol,
.color_block table {
	margin-bottom: 0;
}

/*Spoiler*/
.spoiler_block {
	border: 2px dashed #000;
}

.spoiler_title{
	border-bottom: 2px dotted #000;
}

a.aa_item_tooltip:link {
    text-decoration: none;
    border-bottom: #7366bd 1px dashed;
    color: #7366bd;
}

a.aa_item_tooltip:visited {
    color: #7366bd;
}

a.aa_item_tooltip:after {
    content: '[?]'; /* Добавляем после текста закрывающую кавычку */
}